<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Virtual_Assistance_Teaching.Properties.Settings.Virtual_Assistance_TeachingConnectionString"
            connectionString="Data Source=Clearance;Initial Catalog=Virtual_Assistance_Teaching;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>